*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules.xml


MAD2017Retry/.idea/workspace.xml
app/app.iml___jb_tmp___
.idea/workspace.xml___jb_tmp___
